{% extends "root/base.html" %}
{% block description %}
<h2>Browsable API</h2>
<ul>
  <li><a href="/api/auth/">Browse the AUTH API</a></li>
  <li><a href="/api/accounts/">Browse the ACCOUNTS API</a></li>
  <li><a href="/api/schema/">Schema (coreapi version)</a></li>
  <li><a href="/api/schema/swagger/">Schema (openapi, formerly swagger)</a></li>
  <li><a href="/api/schema/swagger_view/">Swagger-like interface</a></li>
</ul>

<h2>Admin site</h2>

This project also uses the awesome <a href="/admin">django admin site</a>

<h2>Meanwhile on github</h2>

<p>More info and sources avalable on <h href="https://github.com/MonsieurCellophane/ItalyInformatica-Project">github</a>.

{% endblock %}
